<launch>
    <!-- 底盘+雷达+TF -->
    <include file="$(find tools_ekf_nav)/launch/base_robot.launch"/>

    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_madgwick" output="screen" respawn="true" >
      <param name="fixed_frame" value="odom" />
      <param name="use_mag" value="false" />
      <param name="publish_tf" value="false" />
      <param name="use_magnetic_field_msg" value="true" />  
      <param name="world_frame" value="enu" />
      <remap from="imu/data" to="imu_data" />
    </node>

    <include file="$(find robot_pose_ekf)/robot_pose_ekf.launch"/>

    <!-- 地图 -->
    <arg name="map" default="2023_11_05_B208.yaml" />
    <node name="map_server" pkg="map_server" type="map_server" args="$(find tools_ekf_nav)/maps/$(arg map)" output="screen"/>
    <!-- 导航move_base -->
    <include file="$(find tools_ekf_nav)/launch/move_base.launch"/>
    <!-- AMCL定位 -->
    <include file="$(find tools_ekf_nav)/launch/amcl.launch" />

</launch>
